
<div class = "container" style = "margin-bottom: 30px">
<h1 style = "text-align: center">10 Most Recent Questions</h1>

<%=render "questions_table", locals: {questions: @questions}%>

<br>
<% if true %> <!-- change back to current user -->
  <%=link_to "Ask a Question", new_question_path, remote: true, class: "btn btn-success" %>
<% end %>

<div id = "question-form" style = "display:none;">

  </div>
</div>