<div class="jumbotron">
  <h1>User: <%= @user.username.titleize %></h1>
  <p>Number of Questions Posted: <%= @user.questions.count %></p>
  <p>Number of Questions Answered: <%= @user.answers.count %></p>
</div>