/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */
body {
  margin-left: 20px;
}

.ice {
  font-size: 16px;
  margin-left: 200px;
  margin-bottom: 60px;

}

.login {
  text-align: center;
  margin: 0 37%;
}

.btn-primary {
  margin: 0 80%;
}

#discard-question-btn {
  display: none;
  position: absolute;
  top: 2px;
  margin-left: 51%;
}

#show-question-btn {
  display: none;
  position: absolute;
  top: 2px;
  margin-left: 39%;
}

.signup {
  text-align: center;
  margin: 0 32%;
}

#preview-container{
  display: none;
}

#question_title{
  width: 400px;
}

textarea {
  height: 100px ;
  width: 400px;
}

#ask-question-btn {
  position: absolute;
  top: 2px;
  margin-left: 46%;
}

#ask-question-container {
  position: absolute;
  width: 100%;
  /* Kevin Sunday Edit: This z-index needs to be here in order to the question form to overlay the tabs*/
  z-index: 100;
}

#question-form {
  margin-right: auto;
  margin-left: auto;
  width: 440px;
  padding: 5px 20px 15px 20px;
  border-radius: 5px;
  border: solid #bdbdbd 2px;
  background-color: #FFF;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.text-info {
  position: absolute;
  margin-bottom: 0px;
  text-align: right;
}

